# Ignore .env file
.env

# Ignore Python virtual environments
**/venv/
**/env/
**/.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE configurations
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore log files
*.log

# Ignore coverage and test artifacts
*.coverage
*.tox/
*.nox/
*.coverage.*
*.hypothesis/
.tox/

# Ignore node_modules (if you're working with JS/Node.js too)
node_modules/
